body {
    background-color: black;
}

button {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    background-color: rgb(4, 49, 80);
    font-family: 'Montserrat', sans-serif;
    border: none;
    padding: 5px;
  }


.main-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 50px;
}

.about {
    font-size: 20px;
}

.fog-title {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.button-title {
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
